<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área de pagamentos</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div style="text-align: center;">
    <p style="font-size: 30px;" id="txt1">Realizar pagamento:</p>
    <a href="/cad"><button class="offset">Por ABCoin/Solana</button></a>
    <button class="fill">Por PIX</button>
</div><br>

<button class="close">Valor do produto:{{valor}}</button><br>
<p style="font-size: 20px;">Escaneie para fazer a transação::</p><br>
<img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{ link }}" alt="QR Code de Pagamento">



</body>
</html>